body{
    color: #ebeae3;
    background-image:linear-gradient(180deg, rgb(184, 138, 199), rgb(133, 95, 167), rgb(102, 21, 102));
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(102, 21, 102);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
footer{
    text-align: center;
}